:root{
    --main-color:  #34495e;
    --white: #fff;
    --black: #333;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --light-color:#666;
}


html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

.header{
    position: sticky;
    top: 0;left: 0;right: 0;
    background-color: var(--black);
    box-shadow: var(--box-shadow);
    z-index: 1000;
}

.header .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 1.5rem 2rem;
}

.header .flex .navbar a{
    margin-left: 2rem;
    font-size: 2rem;
    color: var(--white);
    text-decoration: none;
}

.header .flex .navbar a:hover{
    text-decoration: underline;
    color: var(--main-color);
}
